@use '../abstracts' as *;

.navigation__list-item {
    display: inline-block;
    margin: 0 4rem;
    list-style-type: none;
}

.navigation__list-item-link {
    text-decoration: none;
    color: white;
}

.navigation__list-item-logo {
    width: 3rem;
    height: 3rem;
    // fill: currentColor;
}