@use 'sass:color';

$background-color-primary: rgb(0, 11, 11)!default;
$background-color-primary-opacity: rgba(0, 11, 11, 0.6)!default;
$background-color-secondary: rgba(30, 30, 30, 1)!default;

$border-color-primary: rgba(140, 140, 140, 1)!default;

$button-color-primary: rgba(235, 97, 63, 1)!default;

/** 1200px oder schmaler */
$breakpoint-lg: 75em!default;

/** 992px oder schmaler */
$breakpoint-md: 62em!default;

/** 768px oder schmaler */
$breakpoint-sm: 48em!default;

/** 576px oder schmaler */
$breakpoint-xs: 36em!default;

/** 400px oder schmaler */
$breakpoint-xxs: 25em!default;

/** Breakpoints */
@media (min-width: $breakpoint-lg) {}
@media (min-width: $breakpoint-md) {}
@media (min-width: $breakpoint-sm) {}
@media (min-width: $breakpoint-xs) {}
@media (min-width: $breakpoint-xxs) {}