* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 100%;
    font-family: Montserrat, sans-serif;

}

body {
    font-size: 100%;
    line-height: 1.5;
    color: rgba(13, 13, 13, 1);
}